# Exploratory Data Analysis of the Spotify Top 200 Charts
In ths notebook, we will explore Spotify's Top 200 Charts by **region** and **date**. The dataset is scarped from [Spotify's official Top Charts Website](https://spotifycharts.com/regional/).

In [117]:
# Import required libraries
import pandas as pd
import numpy as np
import pathlib

In [118]:
# Load the dataset
filepath = pathlib.Path("all_regions_top_200_daily.csv")

if filepath.exists():
    data_df = pd.read_csv(filepath, parse_dates=True)
else:
    data_df = pd.DataFrame()
    
data_df.head()

,Position,Track Name,Artist,Streams,date,region,spotify_id
0,1.0,Starboy,The Weeknd,3135625.0,2017-01-01,global,5aAx2yezTd8zXrkmtKl66Z
1,2.0,Closer,The Chainsmokers,3015525.0,2017-01-01,global,7BKLCZ1jbUBVqRi2FVlTVw
2,3.0,Let Me Love You,DJ Snake,2545384.0,2017-01-01,global,4pdPtRcBmOSQDlJ3Fk945m
3,4.0,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604.0,2017-01-01,global,5knuzwU65gJK7IF5yJsuaW
4,5.0,One Dance,Drake,2259887.0,2017-01-01,global,1xznGGDReH1oQq0xzbwXa3

In [119]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17703738 entries, 0 to 17703737
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   Position    float64
 1   Track Name  object
 2   Artist      object
 3   Streams     float64
 4   date        object
 5   region      object
 6   spotify_id  object
dtypes: float64(2), object(5)
memory usage: 945.5+ MB

In [120]:
data_df.describe()

           Position       Streams
count  1.554554e+07  1.554554e+07
mean   9.673980e+01  5.655417e+04
std    5.758853e+01  2.105495e+05
min    1.000000e+00  1.001000e+03
25%    4.700000e+01  3.672000e+03
50%    9.500000e+01  1.003300e+04
75%    1.460000e+02  3.571700e+04
max    2.000000e+02  1.722324e+07

In [122]:
data_df_cleaned = data_df.dropna()
data_df_cleaned.head()

,Position,Track Name,Artist,Streams,date,region,spotify_id
0,1.0,Starboy,The Weeknd,3135625.0,2017-01-01,global,5aAx2yezTd8zXrkmtKl66Z
1,2.0,Closer,The Chainsmokers,3015525.0,2017-01-01,global,7BKLCZ1jbUBVqRi2FVlTVw
2,3.0,Let Me Love You,DJ Snake,2545384.0,2017-01-01,global,4pdPtRcBmOSQDlJ3Fk945m
3,4.0,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604.0,2017-01-01,global,5knuzwU65gJK7IF5yJsuaW
4,5.0,One Dance,Drake,2259887.0,2017-01-01,global,1xznGGDReH1oQq0xzbwXa3

In [123]:
# Clearing unused memory
data_df = None

In [124]:
data_df_cleaned['region'].unique()

array(['global', 'ar', 'at', 'au', 'be', 'bg', 'bo', 'br', 'ca', 'ch',
       'cl', 'co', 'cr', 'cz', 'de', 'dk', 'do', 'ec', 'ee', 'es', 'fi',
       'fr', 'gb', 'gr', 'gt', 'hk', 'hn', 'hu', 'id', 'ie', 'is', 'it',
       'jp', 'lt', 'lu', 'lv', 'mx', 'my', 'ni', 'nl', 'no', 'nz', 'pa',
       'pe', 'ph', 'pl', 'pt', 'py', 'se', 'sg', 'sk', 'sv', 'tr', 'tw',
       'us', 'uy', 'th', 'il', 'ro', 'vn'], dtype=object)

Now we will determine the regions with the most number of streams. These will be used to understand how the global trends in music are observed.

In [125]:
# Display top 20 regions with the highest total streams between 2017 and 2021
data_df_cleaned.groupby(["region"]).sum().sort_values(by="Streams", ascending=False).head(20)

          Position       Streams
region
global  29867706.0  3.506753e+11
us      29907277.0  1.171383e+11
br      29882152.0  4.060851e+10
mx      29882225.0  3.529269e+10
de      29809477.0  3.293648e+10
gb      29888090.0  3.032301e+10
es      29866158.0  2.098100e+10
it      29847149.0  1.991240e+10
fr      29907952.0  1.900275e+10
au      29908230.0  1.643684e+10
ca      29807909.0  1.570858e+10
nl      29887043.0  1.564983e+10
ph      29888235.0  1.509715e+10
ar      29888075.0  1.462407e+10
cl      29907816.0  1.356761e+10
se      29888095.0  1.244967e+10
id      29908444.0  1.149708e+10
tr      29908526.0  8.888083e+09
no      29867196.0  7.336934e+09
pe      29867911.0  6.265531e+09

In [135]:
len(['global', 'ar', 'at', 'au', 'be', 'bg', 'bo', 'br', 'ca', 'ch',
       'cl', 'co', 'cr', 'cz', 'de', 'dk', 'do', 'ec', 'ee', 'es', 'fi',
       'fr', 'gb', 'gr', 'gt', 'hk', 'hn', 'hu', 'id', 'ie', 'is', 'it',
       'jp', 'lt', 'lu', 'lv', 'mx', 'my', 'ni', 'nl', 'no', 'nz', 'pa',
       'pe', 'ph', 'pl', 'pt', 'py', 'se', 'sg', 'sk', 'sv', 'tr', 'tw',
       'us', 'uy', 'th', 'il', 'ro', 'vn'])

60

The following regions will be considered for the analysis:
- Global (`global`)
- United States (`us`)
- Brazil (`br`)
- Germany (`de`)
- UK (`gb`)
- Spain (`es`)
- Canada (`ca`)

Hence, data about all other regions will be removed.

In [76]:
data_df_cleaned[data_df_cleaned["region"] == "id"].head()

,Position,Track Name,Artist,Streams,date,region,spotify_id
4902,1.0,Closer,The Chainsmokers,45330.0,2017-01-01,id,7BKLCZ1jbUBVqRi2FVlTVw
4903,2.0,Say You Won't Let Go,James Arthur,40815.0,2017-01-01,id,5uCax9HTNlzGybIStD3vDh
4904,3.0,All We Know,The Chainsmokers,39557.0,2017-01-01,id,2rizacJSyD9S1IQUxUxnsK
4905,4.0,Let Me Love You,DJ Snake,35205.0,2017-01-01,id,4pdPtRcBmOSQDlJ3Fk945m
4906,5.0,Don't Wanna Know,Maroon 5,34084.0,2017-01-01,id,5MFzQMkrl1FOOng9tq6R9r

In [126]:
regions = {"global": "global",
           "united states": "us",
           "brazil": "br",
           "germany": "de",
           "united kingdom": "gb",
           "spain": "es",
           "canada": "ca"
           }

In [127]:
df = data_df_cleaned[data_df_cleaned["region"].isin(regions.values())].copy()
df.head()

,Position,Track Name,Artist,Streams,date,region,spotify_id
0,1.0,Starboy,The Weeknd,3135625.0,2017-01-01,global,5aAx2yezTd8zXrkmtKl66Z
1,2.0,Closer,The Chainsmokers,3015525.0,2017-01-01,global,7BKLCZ1jbUBVqRi2FVlTVw
2,3.0,Let Me Love You,DJ Snake,2545384.0,2017-01-01,global,4pdPtRcBmOSQDlJ3Fk945m
3,4.0,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604.0,2017-01-01,global,5knuzwU65gJK7IF5yJsuaW
4,5.0,One Dance,Drake,2259887.0,2017-01-01,global,1xznGGDReH1oQq0xzbwXa3

In [128]:
data_df_cleaned = None

In [129]:
df["date"] = pd.to_datetime(df["date"], format="%Y-%m-%d")
df.head()

,Position,Track Name,Artist,Streams,date,region,spotify_id
0,1.0,Starboy,The Weeknd,3135625.0,2017-01-01,global,5aAx2yezTd8zXrkmtKl66Z
1,2.0,Closer,The Chainsmokers,3015525.0,2017-01-01,global,7BKLCZ1jbUBVqRi2FVlTVw
2,3.0,Let Me Love You,DJ Snake,2545384.0,2017-01-01,global,4pdPtRcBmOSQDlJ3Fk945m
3,4.0,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604.0,2017-01-01,global,5knuzwU65gJK7IF5yJsuaW
4,5.0,One Dance,Drake,2259887.0,2017-01-01,global,1xznGGDReH1oQq0xzbwXa3

In [130]:
df.set_index(["date", "Position"], inplace=True)
df.head()

                                                  Track Name  \
date       Position
2017-01-01 1.0                                       Starboy
           2.0                                        Closer
           3.0                               Let Me Love You
           4.0       Rockabye (feat. Sean Paul & Anne-Marie)
           5.0                                     One Dance

                               Artist    Streams  region  \
date       Position
2017-01-01 1.0             The Weeknd  3135625.0  global
           2.0       The Chainsmokers  3015525.0  global
           3.0               DJ Snake  2545384.0  global
           4.0           Clean Bandit  2356604.0  global
           5.0                  Drake  2259887.0  global

                                 spotify_id
date       Position
2017-01-01 1.0       5aAx2yezTd8zXrkmtKl66Z
           2.0       7BKLCZ1jbUBVqRi2FVlTVw
           3.0       4pdPtRcBmOSQDlJ3Fk945m
           4.0       5knuzwU65gJK7IF5yJsuaW
           5.0       1xznGGDReH1oQq0xzbwXa3

In [132]:
df.groupby(["Track Name", "date"]).sum()

                             Streams
Track Name     date
!              2019-08-09  2202702.0
               2019-08-10  1188671.0
               2019-08-11   363833.0
               2019-08-12   349870.0
               2019-08-13   297367.0
...                              ...
美女と野獣          2017-06-05    47780.0
               2017-06-06    35973.0
蓝 - Cuéntamelo 2019-11-10    27517.0
               2019-11-24    29534.0
說好不哭           2019-09-17    33493.0

[1130803 rows x 1 columns]

In [136]:
df[df['region'] == "global"].groupby(["Artist"]).mean().sort_values(by="Streams", ascending=False).head(20)

                     Streams
Artist
Olivia Rodrigo  3.296031e+06
Tones And I     2.923192e+06
SAINt JHN       2.673830e+06
Wham!           2.558298e+06
Internet Money  2.537534e+06
Jawsh 685       2.455353e+06
Mariah Carey    2.407342e+06
24kGoldn        2.348576e+06
Powfu           2.322816e+06
Bobby Helms     2.215141e+06
Joel Corry      2.162781e+06
Roddy Ricch     2.105746e+06
Arizona Zervas  2.031774e+06
Brenda Lee      2.013937e+06
Trevor Daniel   1.990097e+06
Tate McRae      1.983616e+06
CJ              1.974629e+06
THE SCOTTS      1.962331e+06
Andy Williams   1.889429e+06
BENEE           1.886778e+06

In [98]:
df.groupby(["Track Name", "Artist"]).sum().sort_values(by="Streams", ascending=False).head(20)

                                                                    Streams
Track Name                                    Artist
Shape of You                                  Ed Sheeran       3.326517e+09
Sunflower - Spider-Man: Into the Spider-Verse Post Malone      2.602311e+09
Dance Monkey                                  Tones And I      2.522000e+09
Blinding Lights                               The Weeknd       2.461504e+09
Lucid Dreams                                  Juice WRLD       2.345764e+09
Someone You Loved                             Lewis Capaldi    2.271279e+09
bad guy                                       Billie Eilish    2.229839e+09
SAD!                                          XXXTENTACION     2.179148e+09
God's Plan                                    Drake            2.167225e+09
Señorita                                      Shawn Mendes     2.093481e+09
SICKO MODE                                    Travis Scott     2.039337e+09
Believer                                      Imagine Dragons  1.966203e+09
Perfect                                       Ed Sheeran       1.925234e+09
Jocelyn Flores                                XXXTENTACION     1.881498e+09
Better Now                                    Post Malone      1.846050e+09
Circles                                       Post Malone      1.793371e+09
7 rings                                       Ariana Grande    1.780578e+09
goosebumps                                    Travis Scott     1.779825e+09
Happier                                       Marshmello       1.776041e+09
Say You Won't Let Go                          James Arthur     1.775985e+09

In [137]:
df['Artist'].value_counts()

Post Malone            47302
Ed Sheeran             42122
Drake                  36578
Billie Eilish          27524
XXXTENTACION           27099
                       ...
Angus & Julia Stone        1
Soraya                     1
DOLF                       1
Celeste                    1
AK 33                      1
Name: Artist, Length: 3624, dtype: int64

In [104]:
# level_values = df["Track Name"].unique()
level_values = df.index.get_level_values
result = (df.groupby([level_values(i) for i in [0,1]]
                     +[pd.Grouper(freq='1y', level="date")]).sum())
result

                                  Streams
date       Position date
2017-01-01 1.0      2017-12-31  5108034.0
           2.0      2017-12-31  4699244.0
           3.0      2017-12-31  4064475.0
           4.0      2017-12-31  3772381.0
           5.0      2017-12-31  3526134.0
...                                   ...
2021-01-30 196.0    2021-12-31  1068488.0
           197.0    2021-12-31  1066608.0
           198.0    2021-12-31  1064058.0
           199.0    2021-12-31  1059104.0
           200.0    2021-12-31  1057963.0

[297600 rows x 1 columns]

In [114]:
result = (df.groupby("Track Name").sum())
result

                      Streams
Track Name
!                   4894993.0
"42" - From SR3MM    297731.0
#Freetag              28634.0
#Idiota             5509418.0
#Maldeamores         142783.0
...                       ...
• RIGHT NOW           24915.0
• TEMPTED            377523.0
美女と野獣              22414734.0
蓝 - Cuéntamelo        57051.0
說好不哭                  33493.0

[12587 rows x 1 columns]

In [106]:
level_values = df["Track Name"].unique()
# level_values = df.index.get_level_values
result = (df.groupby([level_values(i) for i in [0]]
                     +[pd.Grouper(freq='1y', level="date")]).sum())
result

TypeError: 'numpy.ndarray' object is not callable

In [107]:
level_values = df.index.get_level_values

In [ ]:
len(data_df['Track Name'].unique())